h1,
#titolo {
    text-align: center;
    font-family: "Exo 2", sans-serif;
    font-style: normal;
    font-weight: 70;
    font-size: 80px;
}

body {
    background-color: #E9E6FF;
}

.connessione {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 30px;
    /*border: 1px solid #ccc;*/
}

.connessione a {
    text-decoration: underline;
    font-family: "Exo 2", sans-serif;
    font-weight: 550;
    cursor: pointer;
}

#userImage {
    width: 20px;
    padding-left: 5px;
}

.head {
    /*border: 1px solid #ccc;*/
    height: 250px;
    background-color: #18265D;
    margin-bottom: 100px;
    color: #E9E6FF;
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px;
}

.corpo {
    /*border: 1px solid #ccc;*/
    height: fit-content;
    padding-bottom: 10px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.gita {
    border: 1px solid black;
    background-color: #3C4F76;
    height: fit-content;
    width: 1200px;
    margin-left: 60px;
    color: #E9E6FF;
    border-bottom: 0px;
    padding-top: 5px;
}
.sopra{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.icona {
    height: 40px;
    margin-right: 10px;
    transition: transform 0.3s;
    cursor: pointer;
    transform: rotate(90deg);
}

.icona.ruota {
    transform: rotate(0deg);
}

#nomeGita {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 35px;
    font-weight: 5px;
    padding-left: 20px;
    text-decoration: none;
}
#nomeGitaN {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 35px;
    font-weight: 5px;
    padding-left: 20px;
    text-decoration: none;
}
#nomeGita:hover {
    text-decoration: line-through;
}

#modifica {
    font-family: "Alegreya Sans", sans-serif;
    text-decoration: underline;
    padding-top: 10px;
    cursor: pointer;
}

.tastini {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #18265D;
    height: fit-content
}

.tastini input {
    padding: 10px;
    background-color: #18265D;
    border: 1px solid #E9E6FF;
    border-top: 0px;
    border-bottom: 0px;
    color: #E9E6FF;
    font-size: 22px;
    font-family: "Alegreya Sans", sans-serif;
    transition: 0.2s ease-out; 
}
.tastini input:hover{
    background-color: #1b6bff;
}

.descrizioneGita{
    font-family: "Alegreya Sans", sans-serif;
    border-right: 0px;
    color: #E9E6FF;
    font-size: 20px;
    font-weight: 5px;
    padding: 10px;
}
/*Mete*/
.mete {
    width: 1200px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-left: 60px;
    background-color: #d5d2ee;
}

.metePiccole {
    width: 1150px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-left: 25px;
    background-color: #E9E6FF;
}

.inRiga {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    border-bottom: 1px solid black;
}

.onRiga {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

#nomeMeta {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 25px;
    font-weight: 3px;
    padding-left: 10px;
    text-decoration: none;
}
#nomeMetaN {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 25px;
    font-weight: 3px;
    padding-left: 10px;
    text-decoration: none;
}
#nomeMeta:hover {
    text-decoration: line-through;
}

#descrioneMeta {
    word-wrap: break-word;
    font-family: "Alegreya Sans", sans-serif;
    font-size: 20px;
    font-weight: 3px;
}

.bordino {

    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
}

.aggiustaADestra {
    display: flex;
    justify-content: right;
}

.inMezzo {
    display: flex;
    justify-content: space-around;
}

#dataMeta {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 20px;
    font-weight: 3px;
    padding-right: 10px;
}

#maxpart {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 20px;
    font-weight: 3px;
    padding-left: 10px;
}

#costoMeta {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 20px;
    font-weight: 3px;
    padding-right: 10px;
}

#costoTotale {
    padding-right: 10px;
}

/*per il testo normale usare il font family "Alegreya Sans", sans-serif*/
.colori {
    color: #18265D;
    /*blue*/
    color: #E9E6FF;
    /*BIanchino*/
    color: #C06E52;
    /*Mattoncino*/
    color: #B4ADEA;
    /*perry winkle*/
    color: #d6ffb7;
    /*verdino*/
}


/* aggiungi meta e aggiungi gita */
.contenitore {
    border: 1px solid #18265D;
    margin-left: 10%;
    padding: 10px;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #d5d2ee;
}

.inserimento {
    padding: 5px;
}

.inserimento input {
    height: 50px;
    width: 400px;
    padding-left: 5px;
    font-family: "Alegreya Sans", sans-serif;
    font-size: 20px;
    font-weight: 5px;
}