<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/admin.css">
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!--Fine font-->
    <script src="./js/adminPage.js"></script>
    <title>Admin reserved</title>
</head>

<body>
    <div class="head">
        <div class="connessione">
            <a onclick="disconnetti()">connesso</a>
            <img src="../View/images/userBianco.png" alt="immagine utente" id="userImage">
        </div>
        <h1 id="titolo">Gestione utenti</h1>
        <div class="tastini">
            <a href="./homepage.html"><input type="button" value="Indietro"></a>
        </div>
    </div>
    <div class="centra">
        <div class="listaUtenti">
            <div class="utente">
                <form action="">
                    <div class="sopra">
                        <span>ID -</span>
                        <input type="text" value="Nome">
                        <input type="text" value="Cognome">
                        <input type="mail" value="mail@mail.com">
                        <input type="text" value="password">
                        <label><input type="checkbox" name="isAdmin" id="isAdmin">È admin</label>
                    </div>
                    <div class="sotto">
                        <input type="submit" value="modifica">
                    </div>
                </form>
            </div>
            <div class="intermezzo"></div>
            <div class="utente">
                <form action="">
                    <div class="sopra">
                        <span>ID -</span>
                        <input type="text" value="Nome">
                        <input type="text" value="Cognome">
                        <input type="mail" value="mail@mail.com">
                        <input type="text" value="password">
                        <label><input type="checkbox" name="isAdmin" id="isAdmin">È admin</label>
                    </div>
                    <div class="sotto">
                        <input type="submit" value="modifica">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>