<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/homePage.css">
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <script src="./js/script.js"></script>
    <title>HomePage</title>
</head>

<body>
    <div class="head">
        <div class="connessione">
            <a>connesso</a>
            <img src="../View/images/user.png" alt="immagine utente" id="userImage">
        </div>
        <h1 id="titolo">HomePage</h1>
    </div>
    <div class="corpo">
        <div class="gitamete">
            <div class="gita">
                <span id="nomeGita">Nome gita</span>
                <span id="modifica">modifica</span>
                <img src="./images/freccina.png" onclick="rotateIcon(0)" alt="+" class="icona">
            </div>
            <div class="mete">
                <br>
                <div class="metePiccole">
                    
                    <div class="inRiga">
                        <span id="nomeMeta">Pizzo calabro</span>
                        <span id="dataMeta">21/11/2021</span>
                    </div>
                    <div class="bordino">
                    <span id="descrioneMeta">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                        nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,</span>
                    </div>
                        <div class="onRiga">
                        <span id="maxpart">Partecipanti: 23/55</span>
                        <span id="costoMeta">€23</span>
                    </div>
                    <div class="inMezzo"><span id="modifica">modifica</span></div>
                </div>
                <div class="metePiccole">
                    <div class="inRiga">
                        <span id="nomeMeta">Mocchie</span>
                        <span id="dataMeta">22/11/2021</span>
                    </div>
                    <div class="bordino">
                    <span id="descrioneMeta">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                        nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,</span>
                    </div>
                        <div class="onRiga">
                        <span id="maxpart">Partecipanti: 23/55</span>
                        <span id="costoMeta">€23</span>
                    </div>
                    <div class="inMezzo"><span id="modifica">modifica</span></div>
                </div>
                <div class="aggiustaADestra">
                    <span id="costoTotale">Costo totale: €46</span>
                    <!--Mappa infinita pazzesca che unisce tutte le mete-->
                    
                </div>
            </div>
            <div class="gita">
                <span id="nomeGita">Nome gita</span>
                <span id="modifica">modifica</span>
                <img src="./images/freccina.png" onclick="rotateIcon(1)" alt="+" class="icona">
            </div>
            <div class="gita">
                <span id="nomeGita">Nome gita</span>
                <span id="modifica">modifica</span>
                <img src="./images/freccina.png" onclick="rotateIcon(0)" alt="+" class="icona">
            </div>
            <div class="gita">
                <span id="nomeGita">Nome gita</span>
                <span id="modifica">modifica</span>
                <img src="./images/freccina.png" onclick="rotateIcon(0)" alt="+" class="icona">
            </div>
            <div class="gita">
                <span id="nomeGita">Nome gita</span>
                <span id="modifica">modifica</span>
                <img src="./images/freccina.png" onclick="rotateIcon(0)" alt="+" class="icona">
            </div>
            <div class="gita">
                <span id="nomeGita">Nome gita</span>
                <span id="modifica">modifica</span>
                <img src="./images/freccina.png" onclick="rotateIcon(0)" alt="+" class="icona">
            </div>

        </div>
    </div>
</body>

</html>